<div class="row">
  <div class="col-md-5">
    <br />
    <button type="button" class="btn btn-primary" (click)="newRecipe()">
      New Recipe
    </button>
    <br />
    <hr />
    <app-recipe-list (item)="onItem($event)"></app-recipe-list>
  </div>
  <!-- <div class="col-md-7" *ngIf="item !== undefined && item !== null">
        
        <app-recipe-detail
        [recipe] = "item"
        >

        </app-recipe-detail>
       
    </div> -->
  <div class="col-md-7">
    <!-- <app-recipe-detail> </app-recipe-detail> -->
    <router-outlet></router-outlet>
  </div>
</div>
